/* List view */
.main-container .buttonsDiv .searchDiv .calendar .textArea .radioButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .textArea {
    flex: 1;
} */
